<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Add County | Admin Panel Allbookers</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
<div class="container-scroller">

  <div th:replace="/ROLE_ADMIN/Layouts/navbar"></div>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div th:replace="/ROLE_ADMIN/Layouts/sidebar"></div>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper fix-top-content">
        <div class="row">

          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="font-size: 23px;color: #1A1A1A;line-height: 20px;font-weight: 700;position: relative;padding: 0px 0px 20px;">[[#{client.AddCounty}]]</h4>
                <form class="form-sample" th:action="@{/addCounty}" method="post" th:object="${newCounty}">
                  <p class="card-description">
                    [[#{client.Pleasefillinallthefieldscorrectly!}]]
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">[[#{client.CountyName}]]</label>
                        <div class="col-sm-9">
                          <input th:field="*{name}" type="text" class="form-control" onkeypress="return event.key !== 'Enter';"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">[[#{client.Country}]]</label>
                        <div class="col-sm-9">
                          <select class="form-control" name="country" th:field="*{countryId}">
                            <option th:each="count:${countries}"  th:text="${count.getCountry_name()}" th:value="${count.getId()}" ></option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <button type="submit" class="btn btn-primary">[[#{client.Save}]]</button>
                    <a class="btn btn-light" th:href="@{'/countyList'}" >[[#{client.Cancel}]] </a>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div th:replace="/ROLE_ADMIN/Layouts/footerL"></div>

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<style>

  .fix-top-content{
    padding-top: 100px;
  }

  select.form-control {
    color: black!important;
    outline-color: black!important;
  }
  .cancel99{
    border-radius: 15px;
    border: 1px solid darkgray;
    padding: 10px 20px;
    background-color: gainsboro;
    font-weight: 600;
    color: #585757;
    text-decoration: none;
  }
  .cancel99:hover{
    background-color: darkgray;
    text-decoration: none;
  }
</style>

<script src="../../vendors/js/vendor.bundle.base.js"></script>

<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>

<script>
  function changeLanguageController(param) {

    var a = 'sq';
    if (param == null) {
      param = a;
    }
    var search = {"lang": a};
    $.ajax({
      type: "POST",
      url: "/changeLanguage",
      data: {
        lang: param
      },
      success: function (result) {
        window.location = '/addCounty' ;
      },
      error: function (e) {
        window.location = '/error.' + param + '.html';
      }
    });
  }
</script>

<!-- endinject -->

<script>

    $(function() {
        var a = $("#nameInput").val();
        $("#nameInput").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/autocomplete",
                    dataType: "json",
                    data: {
                        searchvalue : $("#nameInput").val(),
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength : 3,
        })
    });
</script>

<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>



</body>

</html>

