<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Your promotions | Panel Allbookers</title>
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
  <style>
    .description-cell {
      word-wrap: break-word;
      white-space: pre-wrap!important;
    }
    .page-body-wrapper {
      min-height: calc(110vh - 60px);
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
    }

    .fix-top-content {
      padding-top: 100px;
    }

    .table-responsive {
      width: 100%;
      overflow-x: auto;
    }

    table {
      width: 100%;
    }

    th, td {
      white-space: nowrap;
    }

    @media (max-width: 767px) {
      .custom-promotion-btn-container {
        justify-content: center;
        margin-bottom: 10px;
      }
      .custom-promotion-btn {
        width: 100%;
        text-align: center;
      }
    }

    @media (max-width: 1024px) {
      .custom-promotion-btn-container {
        justify-content: center;
        margin-bottom: 10px;
      }
      .custom-promotion-btn {
        width: 100%;
        text-align: center;
      }
    }

  </style>
</head>
<body>

<div class="container-scroller">
  <div th:replace="/ROLE_ADMIN/Layouts/navbar1"></div>
  <div class="container-fluid page-body-wrapper">
    <div th:replace="/ROLE_ADMIN/Layouts/hotelSidebar"></div>
    <div class="main-panel">
      <div class="content-wrapper fix-top-content">
        <div class="row">
          <div class="d-flex justify-content-end custom-promotion-btn-container" style="width: 100%;margin-right: 15px;">
            <a th:href="@{'/promotions?id='+${property.getId()}}" class="custom-promotion-btn">
              <button type="button" class="btn btn-primary"> [[#{client.chooseNewPromotion}]] </button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="col-12 grid-margin">
            <h4 style="font-size: 23px;color: #1A1A1A;line-height: 20px;font-weight: 700;position: relative;padding: 0px 0px 20px;">[[#{client.propPromotions}]]</h4>
            <button class="alert alert-secondary shadow-sm" style="border: none" onclick="showActive()" id="showactive">[[#{client.Active}]] </button>
            <button class="alert alert-info" onclick="showEnded()" id="showended">[[#{client.Ended}]] </button>
            <div class="table-responsive table-striped mt-3">
              <!--              //active table -->
              <table id="promotionTable" class="table table-hover">
                <thead>
                <tr class="table-head">
                  <th> [[#{client.promotionName}]]</th>
                  <th style="width: 180px;"> [[#{client.recDisc}]] </th>
                  <th> [[#{client.Category}]] </th>
                  <th style="width: 25%;">[[#{client.Description}]] </th>
                  <th> [[#{client.Dateperiod}]] </th>
                  <th style="width: 100px; text-align: center;">[[#{client.Status}]] </th>
                  <th style="width: 110px; text-align: center;">[[#{client.Actions}]] </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${property.getPromotions()} " th:if="${p.getPromotionType().getActive()==true &&   p.getStatus() == 'Yes'}">
                  <td th:text="${p.getPromotionName()}"></td>
                  <td th:text="${p.getRecommendedPercentage()} + '% discount or more'"></td>
                  <td th:text="${p.getPromotionType().getCategory()}"></td>
                  <td th:text="${p.getPromotionType().getDescription()}" class="description-cell"></td>
                  <td th:text="${p.getStartDate().toString().substring(0,10) + ' to ' + p.getEndDate().toString().substring(0,10)}"></td>
                  <td th:text="${p.getStatus()}" style="text-align: center;"></td>
                  <td>
                    <a th:href="@{'/editPromotion?propertyId='+${property.getId()}+'&promotionId='+${p.getId()}}">
                      <button class="btn btn-primary btn-sm btn-icon-text" type="button">[[#{client.Edit}]] <i class="ti-file btn-icon-append allb-nn"></i></button>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>



              <table id="endedPromotions" class="table table-hover" style="display: none">
                <thead>
                <tr style="background: #214162; padding: 10px; color: #ffffff; font-size: 14px;">
                  <th> [[#{client.promotionName}]]</th>
                  <th style="width: 180px;">[[#{client.recDisc}]]</th>
                  <th>[[#{client.Category}]]</th>
                  <th style="width: 25%;">[[#{client.Description}]]</th>
                  <th>[[#{client.Dateperiod}]]</th>
                  <th style="width: 100px; text-align: center;">[[#{client.Status}]]</th>
                  <th style="width: 110px; text-align: center;">[[#{client.Actions}]] </th>
                </tr>
                </thead>


                <tbody >
                <!--       those are ended   -->


                <tr th:each="p : ${property.getPromotions()} "  th:if="${p.getPromotionType().getActive()== true && p.getStatus() == 'No'  }"  >
                  <td th:text="${p.getPromotionName()}"></td>
                  <td th:text="${p.getRecommendedPercentage()} + '% discount or more'"></td>
                  <td th:text="${p.getPromotionType().getCategory()}"></td>
                  <td th:text="${p.getPromotionType().getDescription()}" class="description-cell"></td>
                  <td th:text="${p.getStartDate().toString().substring(0,10) + ' to ' + p.getEndDate().toString().substring(0,10)}"></td>
                  <td th:text="${p.getStatus()}" style="text-align: center;"></td>
                  <td>
                    <a th:href="@{'/editPromotion?propertyId='+${property.getId()}+'&promotionId='+${p.getId()}}">
                      <button class="btn btn-primary btn-sm btn-icon-text" type="button">[[#{client.Edit}]] <i class="ti-file btn-icon-append allb-nn"></i></button>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div th:replace="/ROLE_ADMIN/Layouts/footerL"></div>
    </div>
  </div>
</div>


<script src="vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="vendors/chart.js/Chart.min.js"></script>
<script src="vendors/datatables.net/jquery.dataTables.js"></script>
<script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js" ></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" defer ></script>
<script src="js/dataTables.select.min.js"></script>
<script src="js/commonJs.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/settings.js"></script>
<script src="js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>
<input type="hidden" id="propertyId" th:value="${property.getId()}">
<script>
  function changeLanguageController(param) {

    var propertyId= document.getElementById("propertyId").value;
    var a = 'sq';
    if (param == null) {
      param = a;
    }

    var search = {"lang": a};
    $.ajax({
      type: "POST",
      url: "/changeLanguage",
      data: {
        lang: param
      },
      success: function (result) {
        window.location = '/yourpromotion?propertyId=' + propertyId  ;
      },
      error: function (e) {
        window.location = '/error.' + param + '.html';
      }
    });
  }
</script>
<script>
  function showActive() {
    console.log("button clicked");
    document.getElementById('promotionTable').style.display = 'table';
    document.getElementById('endedPromotions').style.display = 'none';
    butoni=document.getElementById("showactive");
    butoniEnded=document.getElementById("showended");
    butoni.className ="alert alert-secondary shadow-sm";
    butoni.style.border='none';
    butoniEnded.className="alert alert-info";

  }

  function showEnded() {
    document.getElementById('promotionTable').style.display = 'none';
    document.getElementById('endedPromotions').style.display = 'table';
    butoni=document.getElementById("showactive");
    butoniEnded=document.getElementById("showended");

    butoniEnded.className ="alert alert-secondary shadow-sm";
    butoniEnded.style.border='none';
    butoni.className="alert alert-info";

  }
</script>
<script>

  $(function() {
    var a = $("#nameInput").val();
    $("#nameInput").autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "/autocomplete",
          dataType: "json",
          data: {
            searchvalue : $("#nameInput").val(),
          },
          success: function(data) {
            response(data);
          }
        });
      },
      minLength : 3,
    })
  });
</script>
<script>
  $(document).ready(()=>{
    $('#promotionTable').DataTable({
      "ordering":true,
      "paging":false,
      "searching":false,
      "order":[0,"asc"]
    });
  })
</script>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</body>
</html>
