<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manage User Accounts | Panel Allbookers</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>

<body>


<div class="container-scroller">
    <div th:replace="/ROLE_USER/Layouts/navbar"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="/ROLE_USER/Layouts/hotelSidebar"></div>
        <div class="main-panel">
            <div class="content-wrapper fix-top-content">
                <div class="col-md-12 ">
                    <a th:href="@{'/user/addnewuser?propertyId='+${property.getId()}}">
                        <button type="button" class="btn btn-primary btn-md btn-icon-text"><i class="ti-plus btn-icon-pretend"></i> [[#{client.Createanewuser}]]</button>
                    </a>
                    <div class="card">


                        <h4 class="card-title"
                            style="font-size: 22px;color: #1A1A1A;line-height: 20px;font-weight: 700;position: relative;padding-top: 20px;">
                            [[#{client.Manageuseraccounts}]]</h4>
                        <p class="card-description pb-2">[[${users.stream().count()}]]
                            [[#{client.useraccountshaveaccesstoyourpropertysExtranet}]]</p>
                        <div class="card-body mt-5">
                            <div class="table-responsive">
                                <table id="table_idd" class="table table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th>[[#{client.Id}]]</th>
                                        <th>[[#{client.User}]]</th>
                                        <th>[[#{client.Email}]]</th>
                                        <th>Status</th>
                                        <th>[[#{client.Actions}]]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="count: ${users}">
                                        <td th:text="${count.getId()}"></td>
                                        <td th:text="${count.getUsername()}"></td>
                                        <td th:text="${count.getEmail()}"></td>
                                        <td th:text="${count.is_admin==true?'Admin':'User'}"></td>
                                        <td>
                                            <span style="padding: 10px 20px; opacity: 0.6; cursor: not-allowed;"
                                                  th:if="${#lists.size(users) == 1 || count.is_admin==true}"
                                                  title="This user cannot be deleted."
                                                  class="btn btn-outline-danger btn-sm disabled">[[#{client.Delete}]]</span>
                                            <button class="btn btn-outline-danger btn-sm"
                                                    th:if="${#lists.size(users) > 1 && count.is_admin == false}"
                                                    style="padding: 8px 20px 7px 20px;"
                                                    id="deleteUserBtn" th:data-user-id="${count.getId()}">
                                                [[#{client.Delete}]]
                                            </button>
                                            <script>
                                                document.querySelectorAll('.btn-outline-danger').forEach(button => {
                                                    button.addEventListener('click', function() {
                                                        const userId = this.getAttribute('data-user-id');

                                                        Swal.fire({
                                                            title: 'Are you sure?',
                                                            text: "You won't be able to revert this!",
                                                            icon: 'warning',
                                                            showCancelButton: true,
                                                            confirmButtonText: 'Yes, delete it!',
                                                            cancelButtonText: 'Cancel'
                                                        }).then((result) => {
                                                            if (result.isConfirmed) {
                                                                fetch(`/delete_user/${userId}`, {
                                                                    method: 'DELETE',
                                                                    headers: {
                                                                        'Content-Type': 'application/json',
                                                                    },
                                                                })
                                                                    .then(response => response.json())
                                                                    .then(data => {
                                                                        if (data.message === "User deleted successfully") {
                                                                            Swal.fire(
                                                                                'Deleted!',
                                                                                'Your user has been deleted.',
                                                                                'success'
                                                                            ).then(() => {
                                                                                location.reload();
                                                                            });
                                                                        } else {
                                                                            Swal.fire(
                                                                                'Error!',
                                                                                'User not found.',
                                                                                'error'
                                                                            );
                                                                        }
                                                                    })
                                                                    .catch(error => {
                                                                        Swal.fire(
                                                                            'Error!',
                                                                            'There was an error with the request.',
                                                                            'error'
                                                                        );
                                                                    });
                                                            }
                                                        });
                                                    });
                                                });
                                            </script>
                                            <a style="padding: 8px 20px 10px 20px;"
                                               th:if="${useractual.is_admin || !count.is_admin}"
                                               th:href="@{'edituserr?id='+${count.getId()}}"
                                               class="btn btn-primary btn-sm btn-icon-text">[[#{client.Edit}]]
                                                <i class="ti-file btn-icon-append allb-nn"></i></a>
                                            <span style="padding: 8px 20px 10px 20px; opacity: 0.6; cursor: not-allowed;"
                                                  th:if="${!useractual.is_admin && count.is_admin}"
                                                  title="You don't have permission to edit admin users."
                                                  class="btn btn-primary btn-sm btn-icon-text disabled">[[#{client.Edit}]]<i
                                                  class="ti-file btn-icon-append allb-nn"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="/ROLE_USER/Layouts/footerL" class="p-0"></div>
        </div>
    </div>
</div>

<style>
    .page-body-wrapper {
        min-height: calc(110vh - 60px);
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .fix-top-content {
        padding-top: 100px;
    }

    a.ewre {
        margin-left: 840px;
    }

    @media only screen and (max-width: 600px) {


        select#version {
            display: none;
        }

        button.btn.btn-inverse-primary.btn-fw {
            display: none;
        }
    }

    .nav-divider {
        border-right: 1px solid silver;
    }

    li.nav-item.mr-3.nav-divider {
        margin-left: 12px;
    }

    label.label-ch {
        margin-left: 30px;
    }


    label.form-check-label {
        margin-left: 18px;
        margin-right: 13px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.second-nav-propdetails {
        z-index: 99999;
        background: #0b3d75 !important;
        color: white !important;
    }

    span.navbar-brand {
        color: #f5f7ff !important;
        font-size: 19px;
        font-weight: 400;
        font-family: sans-serif;
    }

    .col-md-5.grid-margin.stretch-card {
        height: fit-content;
    }

    .nav-divider {
        border-right: 1px solid silver;
    }

    li.nav-item.mr-3.nav-divider {
        margin-left: 12px;
    }

    .nav-link {
        color: white !important;
    }

    a.nav-link:hover {
        color: white !important;
        border-radius: 4px;
    }

    a.nav-link.activeclass {
        color: #00aeef !important;
        font-weight: 600;
    }
</style>


<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" defer ></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="../../vendors/select2/select2.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>
<script src="../../js/sweetAlert.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../js/file-upload.js"></script>
<script src="../../js/typeahead.js"></script>
<script src="../../js/select2.js"></script>



<input type="hidden" id="propertyId" th:value="${property.getId()}">
<script>
    function changeLanguageController(param) {
        var propertyId= document.getElementById("propertyId").value;
        var a = 'sq';
        if (param == null) {
            param = a;
        }
        var search = {"lang": a};
        $.ajax({
            type: "POST",
            url: "/changeLanguage",
            data: {
                lang: param
            },
            success: function (result) {
                window.location = '/addnewuserr?propertyId=' + propertyId  ;
            },
            error: function (e) {
                window.location = '/error.' + param + '.html';
            }
        });
    }
</script>

<script>
    $(document).ready(()=>{
        $("#table_idd").DataTable({
            "ordering":true,
            "paging":false,
            "searching":false,
            "order":[0,"asc"]
        });

    })
</script>

<!-- End custom js for this page-->
</body>

</html>
