

<footer class="footer  mt-auto xl:ps-[15rem]  font-normal font-inter bg-white text-defaultsize leading-normal text-[0.813] shadow dark:bg-bodybg py-4 text-center">
    <div class="container"><span class="text-gray dark:text-defaulttextcolor/50"> [[#{Copyright}]] ©  	<script>document.write(new Date().getFullYear());</script>
      <a href="https://allbookers.com/" target="_blank" class="text-defaulttextcolor font-semibold dark:text-defaulttextcolor">AllBookers.com</a>. [[#{partOF}]]
        <a href="https://intermedia.al/" target="_blank"> <img src="/images/logoIntermedia.png" height="32px" width="110px"  alt="..." style="position: relative ; top: 6px;vertical-align: bottom"></a> [[#{allRightReservd}]] </span></div>
</footer>



<style>
    .footer a:hover {
        color: #214162;
        font-size: inherit;
    }
    .text-defaulttextcolor {
        color: rgb(51 51 53);
    }
    .font-semibold {
        font-weight: 600;
    }
    .shadow {
        box-shadow: var(0 0 #0000,0 0 #0000),var(0 0 #0000,0 0 #0000),var(0 0 0.4rem rgba(0,0,0,.1));
    }
</style>
