

<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">[[#{client.Copyright}]] © <span id="yearPlaceholder"></span>.<a class="bookers-colorr" href="https://allbookers.com/" target="_blank">Allbookers.com</a> [[#{client.Allrightsreserved}]]</span>
        <script>
            var vitiActual = new Date().getFullYear();
            document.getElementById('yearPlaceholder').innerHTML = vitiActual;
        </script>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">[[#{client.Poweredby}]] <a class="bookers-colorr" href="https://intermedia.al/main/" target="_blank">InterMedia Shpk</a></span>
    </div>
</footer>
