.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
.main-panel {
    margin-left: 250px;
    overflow-y: auto;
}


a:hover{
    text-decoration: none!important;
}

a.bookers-colorr:hover{
    color: black;
}


.swal-icon--success__line {
    height: 5px;
    background-color: #fb8540;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid #FCD7CB;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}
.swal-button {
    background-color: #214162;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}
.swal-button:not([disabled]):hover {
    background-color: #214162;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #fb8540;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.bg-card {
    background-size: contain;
    background-position: right;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;

}
.bg-holder {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: 0;

}

.rating-label {
    font-weight: bold;
    margin: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: uppercase;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(103, 116, 142);
    font-weight: 600;
}

.badge-success, .preview-list .preview-item .preview-thumbnail .badge.badge-online {
    color: #1C6C09;
    background-color: #D9FBD0;
    text-transform: uppercase;
    padding: 5px 8px;
    border: 1px #32851e;
    font-weight: 700;
    font-weight: 700;
    border: 1px solid #32851e !important;
    font-size: 12px !important;
    line-height: 1;
}
.bg-review{
    background: url(../../static/images/corner-1.png) !important;
    z-index: 1001;
}

/*Style for footer when width page isn't 100%*/
.footerwidth{
    padding-top: 300px;
}
@media (max-width: 767px) {
    .footerwidth{
        margin-top: 125px !important;
    }
    .main-panel{
        margin-left: auto;
    }
    .sidebar{
        top:70px;
    }
}
@media screen and (max-width: 991px) {
    .main-panel{
        margin-left: auto;
    }
    .sidebar{
        top: 60px;
    }
}

.daterangepicker .calendar-table th.weekend,
.daterangepicker .calendar-table td.weekend {
    color: #e5780b;
}


.daterangepicker .drp-buttons .applyBtn {
    border-radius: 0px;
}

.table-head{
    background-color: #0089CC !important;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
}
