<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Panel Allbookers</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <style>
        .mfo{
            font-family: "Nunito", sans-serif;
            font-size: 15px;
            margin-top: -4%;
        }

        .hsdr{
            width: 125px;
            height: 52px;
            object-fit: contain;
        }
        .col-lg-4.mx-auto {
            max-width: 100%;
            padding: 0;
        }
        .sameDiv {
            padding: 12px 0;
            font-weight: 500;
        }
        .eye-icon {
            position: absolute;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 10;
            top: 188px;
            right: 15px;
        }
        .lbl {
            width: 40%;
            align-self: center;
        }

        .warningDiv {
            font-size: small;
            font-style: italic;
            text-align: center;
            width: 80%;
            margin: auto;
        }

        .password-container {
            position: relative;
        }

        .toggle-password-curr {
            position: absolute;
            right: 10px;
            top: 48%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .toggle-password-new {
            position: absolute;
            right: 10px;
            top: 70%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>


</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="/images/logo.png" alt="logo">
                        </div>
                        <div class="col-lg-4 mx-auto">
                            <div class="content">
                                <div class="sameDiv" style="font-size: x-large;">
                                    Update Password
                                </div>
                                <p>Password must be refreshed every 90 days for added security.</p>
                                <div class="sameDiv">
                                    <label class="lbl">Current Password</label>
                                    <div class="password-container">
                                        <input type="password" id="current_password"  onkeypress="return event.key !== 'Enter';" class="inpt form-control" placeholder="Current Password">
                                        <i class="toggle-password-curr fa fa-eye" onclick="seePasswordCurrent()"></i>
                                    </div>
                                </div>
                                <div class="sameDiv">
                                    <div class="password-container">
                                    <label class="lbl">New Password: </label>
                                    <input type="password" id="newPassword"  onkeypress="return event.key !== 'Enter';" class="inpt form-control" placeholder="New Password" oninput="isPasswordValid()">
                                        <i class="toggle-password-new fa fa-eye" onclick="seePasswordNew()"></i>
                                    </div>
                                    <span style="color: red; display: none; font-size: 11px; text-align: left" id="passwordNotValid">Password must be 12 characters long and contain both alphabetic and numeric characters.</span>
                                </div>
                                <div class="sameDiv">
                                    <label class="lbl">Confirm Password: </label>
                                    <input class="inpt form-control" onkeypress="return event.key !== 'Enter';" placeholder="Confirm Password" onkeyup="checkPassword()" id="repeatPassword" type="password">
                                    <div id="messageSpan" style="font-size: 11px"></div>
                                </div>
                                <div class="sameDiv">
                                    <button type="button" class="btn btn-primary" style="width: 25%;" onclick="save(this)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <div class="mfo">
        <p style="text-align: center; color: black">
            AllBookers.com is part of
            <a href="https://intermedia.al/" target="_blank"><img class="hsdr" src="/images/intermedia.png"></a>
        </p>
    </div>

    <!-- page-body-wrapper ends -->
</div>


<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>
<!-- endinject -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script th:inline="javascript">

    function isPasswordValid() {
        var passDiv = document.getElementById("newPassword");
        var newPassword = document.getElementById("newPassword").value;

        if (newPassword.length >= 12 && /[a-zA-Z]/.test(newPassword) && /\d/.test(newPassword)) {
            passDiv.style.border = "green 1px solid";
            document.getElementById('passwordNotValid').style.display = "none";
        } else {
            passDiv.style.border = "red 1px solid";
            document.getElementById('passwordNotValid').style.display = "block";
        }
    }

    function seePasswordCurrent() {
        var passwordInput = document.getElementById("current_password");
        var eyeIcon = document.querySelector(".toggle-password-curr");

        if (passwordInput.getAttribute("type") === "password") {
            passwordInput.setAttribute("type", "text");
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.setAttribute("type", "password");
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }

    function seePasswordNew() {
        var passwordInput = document.getElementById("newPassword");
        var eyeIcon = document.querySelector(".toggle-password-new");

        if (passwordInput.getAttribute("type") === "password") {
            passwordInput.setAttribute("type", "text");
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.setAttribute("type", "password");
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }

    function save(element){
        element.disabled = true;
        setTimeout(function() {
            element.disabled = false;
        }, 5000);

        var passwordDto = {};
        passwordDto.oldPassword = document.getElementById('current_password').value;
        passwordDto.newPassword = document.getElementById('newPassword').value;

        console.log(passwordDto);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            headers: {'x-my-custom-header' : 'some value'},
            url:"/updatePassword",
            data: JSON.stringify(passwordDto),
            dataType: 'text',
            cache: false,
            timeout: 600000,
            success: function (response) {
                Toastify({
                    text: "Saved",
                    duration: 3000,
                    style: {
                        background: "linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%)",
                    },
                    close: true,
                    offset: {
                        x: 50,
                        y: 10
                    },
                }).showToast();

                setTimeout(function () {
                    location.href = "/";
                }, 1500);
            },
            error: function (response) {
                Toastify({
                    text: response.responseText,
                    duration: 3000,
                    style: {
                        background: "linear-gradient(122deg, rgba(180,58,58,1) 8%, rgba(253,29,29,1) 47%, rgba(253,29,29,1) 62%, rgba(252,96,69,1) 100%)",
                    },
                    close: true,
                    offset: {
                        x: 50,
                        y: 10
                    },
                }).showToast();

                setTimeout(function () {
                    location.reload();
                }, 1500);
            }
        });
    }

    function checkPassword(){
        var password = document.getElementById("newPassword");
        var confirm_pass = document.getElementById("repeatPassword");

        if (password.value == confirm_pass.value){
            confirm_pass.style.border = "green 1px solid"
            document.getElementById("messageSpan").innerHTML = 'Matching';
            document.getElementById("messageSpan").style.color = 'green';
            document.getElementById("messageSpan").style.display = 'flex';
        }else if (password.value != confirm_pass.value){
            confirm_pass.style.border = "red 1px solid"
            document.getElementById("messageSpan").style.color = 'red';
            document.getElementById("messageSpan").innerHTML = 'Passwords do not match'
            document.getElementById("messageSpan").style.display = 'flex';
        }else{
            confirm_pass.style.border = "red 1px solid"
            document.getElementById("messageSpan").style.color = 'red';
            document.getElementById("messageSpan").innerHTML = 'Passwords do not match';
            document.getElementById("messageSpan").style.display = 'flex';
        }
    }

</script>
</body>

</html>
