<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show Language | Admin Panel Allbookers</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <div th:replace="/ROLE_ADMIN/Layouts/navbar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div th:replace="/ROLE_ADMIN/Layouts/sidebar"></div>
        <!-- partial -->

        <div class="main-panel">
            <div class="content-wrapper fix-top-content">
                <div class="row">

                    <a class="panel-booker-buton">
                        <button type="button" class="btn btn-primary btn-sm btn-icon-text"
                                th:attr="onclick='goToEditLanguage('+${language.getId()}+');'">Edit<i
                                class="ti-file btn-icon-append allb-nn"></i></button>
                    </a>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">[[#{client.Name}]] : [[${language.getName()}]]</h5>
                                <h5 class="card-title">[[#{client.Code}]] : [[${language.getCode()}]]</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .fix-top-content {
        padding-top: 100px;
    }

</style>

<script src="vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="vendors/chart.js/Chart.min.js"></script>
<script src="vendors/datatables.net/jquery.dataTables.js"></script>
<script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/settings.js"></script>
<script src="js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>

<script type="text/javascript" th:inline="none" class="init">


    function goToEditLanguage(id) {
        window.location = "editLanguage?id=" + id;
    }


    $(document).ready(function () {
        $('#table_id').DataTable({
            "paging": true,
            "ordering": true,
            "info": false
        });
    });
</script>

<script>
    $("#exampleFormControlSelect3").change(function () {
        $.post("changeLanguage", {param: $("#exampleFormControlSelect3").val()}, function () {
            location.reload();
        });
    });
</script>

<!-- endinject -->
<script>

    $(function () {
        var a = $("#nameInput").val();
        $("#nameInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/autocomplete",
                    dataType: "json",
                    data: {
                        searchvalue: $("#nameInput").val(),
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
        })
    });
</script>

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


</body>
</html>